html
  head
    title #{title}
    script(src='javascripts/main.js')
    link(rel='stylesheet', href='stylesheets/style.css')
  body 
    #content
      h1 #{ title }
      form( enctype='multipart/form-data' action='/login', method='post')
        div
          label Username
          input( type='text', name='username' )
        div
          label Password
          input( type='text', name='password' )
      
